@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './reset.scss';
@import './connectionPill.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
}

textarea {
  width: 80%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  margin: auto auto 0;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    @media (max-width: 600px) {
      margin-top: 50px;
    }
  }
}

.button {
  width: 80%;
  height: 50px;
  margin: 10px auto 0;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
